@font-face {
  font-family: 'iconfont';  /* project id 2083749 */
  src: url('https://at.alicdn.com/t/font_2083749_arbtdibn1dd.eot');
  src: url('https://at.alicdn.com/t/font_2083749_arbtdibn1dd.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2083749_arbtdibn1dd.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2083749_arbtdibn1dd.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2083749_arbtdibn1dd.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2083749_arbtdibn1dd.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-browse:before {
  content: "\e666";
}

.icon-lock:before {
  content: "\e676";
}

.icon-user:before {
  content: "\e682";
}

.icon-xingmingyonghumingnicheng:before {
  content: "\e623";
}

.icon-mima:before {
  content: "\e608";
}

.icon-geren:before {
  content: "\e66e";
}

.arrow-up:before {
  content: "\e743";
}

.arrow-down:before {
  content: "\e7b2";
}
.icon-jianpan:before{
  content: "\e674";
}
.icon-jiahao:before {
  content: "\e613";	
}